<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: layout(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>マイページ</title>
</head>

<body>
<main>
    <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
        <!-- Breadcrumb Start -->
        <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
            <h2 class="text-title-md2 font-bold text-black dark:text-white">マイページ</h2>
        </div>
        <!-- Breadcrumb End -->

        <!-- ====== Form Elements Section Start -->
        <div class="grid grid-cols-1 gap-9 sm:grid-cols-2">

            <div class="flex flex-col gap-9">
                <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
                    <div class="flex justify-between border-b border-stroke py-4 px-6.5 dark:border-strokedark">
                        <h2>ユーザー名</h2>
                        <h3 th:text="${user.name}" class="font-medium text-black dark:text-white">Textarea Fields</h3>
                    </div>
                    <div class="flex justify-between border-b border-stroke py-4 px-6.5 dark:border-strokedark">
                        <h2>メールアドレス</h2>
                        <h3 th:text="${user.email}" class="font-medium text-black dark:text-white">Textarea Fields</h3>
                    </div>
                    <div class="flex justify-between border-b border-stroke py-4 px-6.5 dark:border-strokedark">
                        <h2>登録日</h2>
                        <h3 th:text="${#temporals.format(user.createdAt, 'yyyy/MM/dd HH:mm')}"></h3>
                    </div>
                </div>
                <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
                    <div class="flex justify-between border-b border-stroke py-4 px-6.5 dark:border-strokedark">
                        <h2>銀行名</h2>
                        <h3 th:text="${account.bankName}" class="font-medium text-black dark:text-white">Textarea Fields</h3>
                    </div>
                    <div class="flex justify-between border-b border-stroke py-4 px-6.5 dark:border-strokedark">
                        <h2>銀行コード</h2>
                        <h3 th:text="${account.bankCode}" class="font-medium text-black dark:text-white">Textarea Fields</h3>
                    </div>
                    <div class="flex justify-between border-b border-stroke py-4 px-6.5 dark:border-strokedark">
                        <h2>支店名</h2>
                        <h3 th:text="${account.branchName}" class="font-medium text-black dark:text-white">Textarea Fields</h3>
                    </div>
                    <div class="flex justify-between border-b border-stroke py-4 px-6.5 dark:border-strokedark">
                        <h2>支店コード</h2>
                        <h3 th:text="${account.branchCode}" class="font-medium text-black dark:text-white">Textarea Fields</h3>
                    </div>
                    <div class="flex justify-between border-b border-stroke py-4 px-6.5 dark:border-strokedark">
                        <h2>口座番号</h2>
                        <h3 th:text="${account.accountNumber}" class="font-medium text-black dark:text-white">Textarea Fields</h3>
                    </div>
                    <div class="flex justify-between border-b border-stroke py-4 px-6.5 dark:border-strokedark">
                        <h2>名義</h2>
                        <h3 th:text="${account.accountHolder}" class="font-medium text-black dark:text-white">Textarea Fields</h3>
                    </div>
                </div>
<!--                <a th:href="@{/information}">-->
<!--                    <button type="submit" class="flex w-full justify-center rounded bg-primary p-3 font-medium text-gray">お知らせ一覧に戻る</button>-->
<!--                </a>-->
<!--                <form th:action="@{/information/{id}/participant/add(id=${information.id})}" method="post">-->
<!--                    <button type="submit" class="flex w-full justify-center rounded bg-primary p-3 font-medium text-gray"-->
<!--                            th:text="${isParticipant} ? 'このデモ活動への参加をやめる' : 'このデモ活動に参加する'">-->
<!--                        このデモ活動に参加する &lt;!&ndash; デフォルト値として残しておく &ndash;&gt;-->
<!--                    </button>-->
<!--                </form>-->
<!--                <a th:href="@{/information}">-->
<!--                    <button type="submit" class="flex w-full justify-center rounded bg-primary p-3 font-medium text-gray">このデモ活動に支援金を送る</button>-->
<!--                </a>-->
            </div>

            <!-- 参加デモ -->
            <div class="col-span-1 flex flex-col gap-9">
                <!-- 参加デモリスト -->
                <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
                    <div class="border-b border-stroke py-4 px-6.5 dark:border-strokedark">
                        <h3 class="font-medium text-black dark:text-white">参加デモ一覧</h3>
                    </div>
                    <div class="p-6.5">
                        <th:block th:each="participatedInformation : ${participatedInformations}">
                            <div class="mb-4 border-b border-stroke pb-4 dark:border-strokedark">
                                <p th:text="${participatedInformation.title}" class="text-black dark:text-white"></p>
<!--                                <p th:text="${#temporals.format(comment.createdAt, 'yyyy年MM月dd日 HH:mm')}" class="text-xs text-gray-500 dark:text-gray-400"></p>-->
                            </div>
                        </th:block>
                    </div>
                </div>

<!--                &lt;!&ndash; コメント入力フォーム &ndash;&gt;-->
<!--                <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">-->
<!--                    <div class="border-b border-stroke py-4 px-6.5 dark:border-strokedark">-->
<!--                        <h3 class="font-medium text-black dark:text-white">コメントを追加</h3>-->
<!--                    </div>-->
<!--                    <form th:action="@{/information/comment/create}" method="post" class="p-6.5">-->
<!--                        <input type="hidden" th:name="informationId" th:value="${information.id}" />-->
<!--                        <div class="mb-4">-->
<!--                    <textarea-->
<!--                            id="content"-->
<!--                            name="content"-->
<!--                            rows="4"-->
<!--                            placeholder="コメントを入力してください"-->
<!--                            class="w-full rounded border border-stroke p-3 text-sm text-black dark:border-strokedark dark:bg-boxdark dark:text-white"-->
<!--                            required></textarea>-->
<!--                        </div>-->
<!--                        <div class="text-right">-->
<!--                            <button type="submit" class="rounded bg-primary p-3 text-sm font-medium text-gray">送信</button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
            </div>

        </div>
    </div>
</main>
</body>
</html>
